<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 mx-auto mb-3 mb-md-0">
        <img
          class="img-fluid rounded-15 shadow"
          src="movie.image"
          alt="movie.title"
          title="movie.title"
        />
      </div>
      <div class="col-12 col-md-9 mx-auto mb-3 mb-md-0">
        <h1 class="text-dark mb-3">movie.title</h1>
        <p class="fs-6 text-muted mb-2">
          <strong>Rate:</strong> $movie.price/m
        </p>
        <p class="fs-6 text-muted mb-2">
          <strong>Available Quantity:</strong> movie.quantity
        </p>
        <button class="btn btn-info rounded border-0 shadow lh-1">
          Get Movie
        </button>
      </div>
    </div>
  </div>
</section>
