<div class="container">
  <!-- if movies length is greater than 0 then show components otherwise don't show -->
  <!-- <div *ngIf="movies.length > 0"> -->
  <div *ngIf="isMovieAvailable">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mb-5">Movies</h1>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3 mb-4 mx-auto mx-md-0" *ngFor="let movie of movies">
            <app-movie-card [movie]="movie"></app-movie-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- if movies length is 0 then show this -->
  <div *ngIf="!isMovieAvailable">
    <div class="row">
      <div class="col-12 col-md-5 mx-auto text-center">
        <h1>No Movies Available</h1>
        <div
          class="d-flex align-items-center justify-content-center flex-column"
        >
          <img
            loading="eager"
            class="mb-3"
            src="assets/images/logo.png"
            width="200"
            height="200"
            alt="Logo"
            title="Logo"
          />
          <a
            routerLink="/add-movie"
            class="mb-3 btn btn-dark lh-1 shadow border-0"
            >Go To Add Movie</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
